@use '../abstracts' as *;


.opti {
	display: block;
	position: relative;
	margin-left: var(--root-mar-x);
	margin-right: var(--root-mar-x);



	// #region SURFACE
	////////////////////////
	////////////////////////
	////////////////////////



	.surface {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		position: relative;
		min-height: var(--min-height);
		padding: var(--surface-pad-y) var(--surface-pad-x);

		&:is(.opti[disabled=disabled] *) {
			padding: 0;
			min-height: 0;
		}

		&:is(.opti:is(.activated, .activatedLocked):not([disabled=disabled]) *) {
			z-index: 110;
		}


		// Surface text elements
		////////////////////////
		////////////////////////


		.surface-text {
			@include ellipsis();
			flex: 1 1 auto;
			min-height: var(--surface-leading);
			display: flex;
			flex-direction: column;
			justify-content: center;
			transform: none;

			.surface-text-placeholder,
			.surface-text-single {
				height: var(--surface-leading);
				display: block;
				order: 0;
			}

			.surface-text-single-group {
				display: inline-block;
				margin: 0 5px 0 0;

				&:after {
					margin-left: .35em;
					content: "/";
				}

			}
			

			// Surface tags
			////////////////////////
			////////////////////////


			.surface-text-multi {
				display: flex;
				flex-wrap: wrap;
				flex: 1 1 auto;
				gap: 5px;
				align-items: center;
				margin: 0;
				padding: 0;
			}

			&[multiple=multiple] .surface-text-multi:not(:empty) {
				min-height: var(--tag-leading);
				height: auto;
			}

			.tag {
				display: inline-flex;
				align-items: center;
				width: 0;
				margin: 0;
				padding: 0 var(--tag-pad-x);

				&:is([multiple=multiple] *) {
					width: auto;
				}

			}

			.tag-text {
				@include ellipsis();
				line-height: var(--tag-leading);
			}

			.tag-icon-ex {
				flex: 0 0 $tagBGSize;
				width: $tagBGSize;
				height: $tagBGSize;
				margin: 0px;
				margin-right: calc($tagHorzPad * .6);
			}

		}


		// Surface icons
		////////////////////////
		////////////////////////


		.surface-icon-chevrons,
		.surface-icon-ban,
		.surface-icon-clear {
			flex: 0 0 auto;
			order: 2;
			height: var(--surface-leading);
		}

		.surface-icon-chevrons:not([disabled=disabled] *),
		.surface-icon-ban:is([disabled=disabled] *),
		.surface-icon-clear:not(.zerostate *, [disabled=disabled] *) {
			display: block;
			margin-left: var(--pad-base);
		}

		.surface-icon-chevrons:not([disabled=disabled] *) {
			margin-right: -3px;
		}

		.surface-icon-clear {
			display: inline-flex;

			&:not([disabled=disabled] *, .zerostate *) {
				margin-right: -8px;
			}

		}

	}


	// #endregion SURFACE



	// #region DROPDOWN
	////////////////////////
	////////////////////////
	////////////////////////


	.dropdown {
		position: absolute;
		width: 100%;
		min-width: 200px;
		top: 100%;
		z-index: 111;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;

		&:is(.opti.flip-v *) {
			top: auto;
			bottom: calc(100% + 2px);
			transform: translateY(-5px);
		}


		// #region Search
		////////////////////////
		////////////////////////


		.search {
			display: flex;
			align-items: center;
			margin-top: 2px;
			padding: var(--pad-base);
		}
		&.flip-v .search {
			order: 1;
		}
		.icon-search {
			margin-right: 4px;
		}
		.search-input {
			flex-grow: 1;
		}


		// #endregion search


		// #region List
		////////////////////////
		////////////////////////


		.list {
			max-height: 50vh;
			position: relative;
			overflow: scroll;
			margin: 2px 0 0 0;
			padding: 12px 0;

			h5 {
				margin: 10px 0 10px $indentation;
				padding: 0;
			}

			.list-item {
				display: flex;
				align-items: center;
				justify-content: flex-start;
				position: relative;
				margin: 0;
				padding: 5px calc($indentation * .5) 5px $indentation;

				> * {
					flex: 1 1 auto;
				}

				svg {
					flex: 0 0 auto;
					margin-left: 3px;
				}

			}

			section > .list-item {
				padding-left: $indentation * 2;
			}


			// #endregion List


			// #region List icons
			////////////////////////
			////////////////////////


			.list-icon-arrow,
			.list-icon-tick {
				--size: 0px;
				display: inline-flex;
				width: var(--size);
				height: var(--size);
				margin-left: 0;
			}

			.list-item:not(.opti[disabled=disabled] *) {

				&.fakefocus .list-icon-arrow,
				&.selected .list-icon-tick {
					--size: 16px;
				}

				&.fakefocus .list-icon-arrow {
					margin-left: -10px;
				}

				&[disabled=disabled] .list-surface-icon-ban {
					display: inline-flex;
				}

			}

			// #endregion List icons

		}

	}



	// #endregion dropdown



}