section#control-frame
	div
		h2 Mutations Sandbox
		p None of these controls modify the demo Opti directly. It uses mutation observers to stay synched with its #[code select].
		div
			h5 Toggle attribute:
			div.flexit.faintbox
				span Select:
				button#togglemultiselect Multiple
				button#toggledisabselect Disabled
			div.flexit.faintbox
				span Option 2:
				button#toggledisabopt Disabled
		div
			h5 Modify node list:
			div.flexit.faintbox
				select#control-append(data-theme="minimal" data-scheme="light")
					option(value="append") Append
					option(value="prepend") Prepend
					option(value="rmvLast") Remove last
					option(value="rmvFirst") Remove first
				select#control-append-what(data-theme="minimal" data-scheme="light")
					option(value="opt") Option
					option(value="optgroup") Optgroup
					option(value="optgroupOpt") Opt in last group
				button#doit1 Apply
			div.flexit.faintbox
				button#insertoptrandomly Insert option randomly