div#top-controls" class="flexit
	button#activatedlocked Hold demo Opti open
	div#scheme-switch-div
		input(type="checkbox" id="scheme-switch-tick" checked)
		label(for="scheme-switch-tick" id="scheme-switch-label")