div(id="top-controls" class="flexit")
	button(id="activatedlocked") Hold demo Opti open
	div(id="scheme-switch-div")
		input(type="checkbox" id="scheme-switch-tick" checked)
		label(for="scheme-switch-tick" id="scheme-switch-label")