@use 'variables' as *;

.opti-hidden {
	display: none !important;
}

@keyframes throb {
	0% {
		box-shadow: 0 0 0 2px hsl(from var(--accent) h s l / .35);
	}
	100% {
		box-shadow: 0 0 0 4px hsl(from var(--accent) h s l / .35);
	}
}