@use 'sass:math' as *;
@use 'sass:color' as *;



// #region SASS VARS
////////////////////////
////////////////////////
////////////////////////



// #region Dimensions
////////////////////////
////////////////////////


// Surface
////////////////////////

$indentation: 20px;
$arrowSize: 5px;
$fontSize: 14px;

// Tags
////////////////////////

$tagMarg    : 2px;
$tagVertPad : 5px;
$tagHorzPad : 5px;
$tagBGSize  : 7px;
$tagFontSize: 11px;
$tagRadius  : 3px;
$iconstrokewidth: .6px;

// Search
////////////////////////

$marginsXSearch: -8px;


// #endregion dimensions



// #endregion sass vars



// #region CSS VARS
////////////////////////
////////////////////////
////////////////////////



:root {


	// Constants
	////////////////////////
	////////////////////////


	--accent: hsl(213, 60%, 50%);

	// Duration of most transitions
	--dur: .2s;

	--pad-base: 6px;


	// Variables
	////////////////////////
	////////////////////////


	// Layout
	////////////////////////

	--surface-leading: 19px;
	--tag-leading: calc(var(--surface-leading) - 2px);
	--min-height: calc(var(--pad-base) * 2 + var(--surface-leading));

	// Whitespace
	////////////////////////

	--root-mar-x   : 0px;
	--surface-pad-y: var(--pad-base);
	--surface-pad-x: calc(var(--pad-base) * 1.5);
	--tag-pad-x    : 5px;

	// Appearance
	////////////////////////

	--surface-gradients-decl: null;
	--surface-shadow-decl: none;
	--tag-shadows        : none;
	--radius: 7px;

	// Theme
	////////////////////////

	--text-col  : hsl(0 0% 15%);
	--tag-col   : var(--text-col);
	--dd-col    : hsl(0 0% 20%);

	--surface-bg: initial;
	--dd-bg     : hsl(0 0% 90% / 85%);
	--tag-bg    : hsl(0 0% 00% / 07%);


}



// #endregion css vars