.opti

	&[data-theme=compact],
	&[data-theme=minimal]
		--surface-bg: transparent
		--tag-horzpad: 0
		--tag-bg: transparent

		&:not([disabled=disabled])
			--surface-leftmar: #{math.round($leftPad*1.2)}
			--surface-rightmar: #{math.round($rightPad*1.2)}

			.surface
				--surface-leftpad: 0
				--surface-rightpad: 0

				&:hover,
				&:focus
					--surface-leftmar: 0
					--surface-rightmar: 0
					--surface-leftpad: #{math.round($leftPad*1.2)}
					--surface-rightpad: #{math.round($rightPad*1.2)}

				.texts ul
					gap: 10px

				> svg
					margin-left: $rightPad

			&:is(.activated, .activatedLocked) .surface
				--surface-leftmar: 0
				--surface-rightmar: 0
				--surface-leftpad: #{math.round($leftPad*1.2)}
				--surface-rightpad: #{math.round($rightPad*1.2)}

			&[multiple=multiple]
				--surface-leftpad: 0
				--surface-rightpad: 0

			.surface .texts ul .tag:hover,
			&.highlightRemovables .surface .texts ul .tag
				background-color: inherit