@use '../abstracts' as *;

//
// Dark and light
//

.opti[data-theme=compact] {

	--root-mar-x   : 0px;
	--surface-pad-x: 0px;
	--tag-pad-x    : 0px;

	--tag-bg          : transparent;

	&:not([disabled=disabled]) {

		// Closed, not disabled

		&:not(.activated, .activatedLocked) {

			&,
			.surface {
				border-bottom-right-radius: 0px;
				border-bottom-left-radius: 0px;
			}

		}

		// Closed & hovered

		&:not([disabled=disabled]) .surface:hover {
			background-color: transparent;
		}

		// Closed & hovered / focused

		&:has(.surface:is(:hover, :focus)):not(.activated, .activatedLocked) {
			--surface-shadow-decl: 0 1px 0 var(--accent) !important;
			--root-mar-x: calc(var(--pad-base) * -2);
			--surface-pad-x: calc(var(--pad-base) * 2);

			.surface {
				animation: none;
			}

		}

		// Open

		&:is(.activated, .activatedLocked) {
			--root-mar-x: calc(var(--pad-base) * -1);
			--surface-pad-x: var(--pad-base);
		}

		.surface-text-multi {
			gap: 10px;
		}

		&[multiple=multiple] {
			padding: var(--pad-base) 0px;
		}

		&:not([disabled=disabled]):has(.tag:hover),
		&.highlightRemovables {
			--tag-bg: inherit;
		}

	}


	//
	// Dark
	//

	&[data-scheme=dark] {

		&:not([disabled=disabled]) {

			&:not(.activated, .activatedLocked) {
				--surface-shadow-decl: 0 1px 0 hsl(0 0% 100% / .4);
			}

		}

	}


	//
	// Light
	//

	&[data-scheme=light] {

		&:not([disabled=disabled]) {

			&:not(.activated, .activatedLocked) {
				--surface-shadow-decl: 0 1px 0 hsl(0 0% 0% / .4);
			}

		}

	}

}