@use '../abstracts' as *;

.opti[data-scheme=dark] {

	--text-col: hsl(0 0% 85%);
	--tag-col : var(--text-col);
	--dd-col  : hsl(0 0% 80%);

	--dd-bg   : hsl(0 0% 10% / 85%);
	--tag-bg  : hsl(0 0% 100% / .07);


	//
	//
	// States - Dark scheme
	//
	//

	// Hovered - dark
	&:not([disabled=disabled], .activated, .activatedLocked) .surface:hover {
		background-color: hsl(from var(--accent) h calc(s + 20) calc(l - 30) / 60%);
	}

	// Activated - dark
	&:is(.activated, .activatedLocked) {
		box-shadow: 0 0 0 500vw hsl(0 0% 70% / 70%);
	}

	// Highlighting tags to indicate impending removal

	&:not([disabled=disabled], .zerostate) {
	
		.tag:hover,
		.surface-icon-clear:hover,
		&.highlightRemovables :is(.tag, .surface-text-single) {
			color: hsl(350 100% 88%);

			&:not(.surface-text-single) {
				background-color: hsl(348 83% 47% / 40%);
			}

		}

	}

}