@use '../abstracts' as *;


.opti[data-theme=glossy] {
	--surface-shadow-decl: inset 0 1px hsl(0 0% 100% / .3), 0 1px 3px hsl(0 0% 0% / .1);
	--grad-linear: linear-gradient(transparent 50%, hsl(0 0% 100% / 6%));
	--grad-radial: radial-gradient(hsl(0 0% 100% / 60%), hsl(0 0% 100% / 20%) 80%);
	--grad-highlightcurve: radial-gradient(150% 110% at center top, hsl(0 0% 100% / 30%), hsl(0 0% 100% / 12%) 50%, transparent 50%);

	&:not([disabled=disabled]) .surface::before {
		border-radius: var(--radius);
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: white;
		mask-image: var(--grad-linear), var(--grad-radial), var(--grad-highlightcurve);
		mask-composite: add, intersect;
	}

	//
	// Dark
	//

	&[data-scheme=dark] {
		--tag-bg: transparent;
		--tag-shadows: 0 1px 0 hsl(0 0% 100% / .1), inset 0 1px 0 hsl(0 0% 0% / .3);
		--surface-shadow-decl: inset 0 1px hsl(0 0% 100% / .07), 0 1px 4px hsl(0 0% 0% / .5);

		&:not([disabled=disabled]) {

			.surface {
				-webkit-box-reflect: below 5px linear-gradient(transparent, hsl(0 0% 100% / .15) 50%, hsl(0 0% 100% / .5));

				.surface-text,
				.surface-text-multi,
				> svg.surface-icon-clear {
					z-index: 1;
				}
			}
			&:is(.activated, .activatedLocked) {
				--surface-shadow-decl: inset 0 1px hsl(0 0% 100% / .07), 0 1px 1px transparent;
			}
		}
	}

	//
	// Light
	//

	&[data-scheme=light] {
		--tag-bg: hsl(0 0% 0% / .03);
		--tag-shadows: 0 1px 0 hsl(0 0% 100% / 30%), inset 0 1px 0 hsl(0 0% 0% / 7%);

		--grad-linear        : linear-gradient(transparent 50%, hsl(0 0% 100% / 35%));
		--grad-radial        : radial-gradient(hsl(0 0% 100% / 100%), hsl(0 0% 100% / 15%) 80%);
		--grad-highlightcurve: radial-gradient(150% 110% at center top, hsl(0 0% 100% / 60%), hsl(0 0% 100% / 25%) 50%, transparent 50%);

		&:not([disabled=disabled]) {

			.surface {
				-webkit-box-reflect: below 5px linear-gradient(transparent, hsl(0 0% 100% / .15) 50%, hsl(0 0% 100% / .5));

				.surface-text,
				.surface-text-multi,
				> svg.surface-icon-clear {
					z-index: 1;
				}
			}
		}
	}

}