@use '../abstracts' as *;

//
// Dark
//

.opti[data-theme=gradated] {
	--surface-bg: hsl(0 0% 10% / 40%);
	--tag-bg: #373737;
	--tag-shadows: 0 1px 0 hsl(0 0% 100% / 15%), inset 0 1px 0 hsl(0 0% 0% / 30%);

	&:not([disabled=disabled]) {

		.surface {
			--surface-gradients-decl: linear-gradient(hsl(0 0% 100% / 7%), hsl(0 0% 0% / 13%));
			--surface-shadow-decl: inset 0 1px hsl(0 0% 100% / 7%), 0 1px 4px hsl(0 0% 0% / 50%);
		}

		&:is(.activated, .activatedLocked) .surface {
			--surface-shadow-decl: inset 0 1px hsl(0 0% 100% / 12%), 0 1px 1px transparent;
		}

	}


	//
	// Light
	//

	&[data-scheme=light] {
		--surface-bg: hsl(0 0% 90% / 40%);
		--tag-bg: #E4E4E4;
		--tag-shadows: 0 1px 0 hsl(0 0% 100% / 30%), inset 0 1px 0 hsl(0 0% 0% / 15%);

		&:not([disabled=disabled]) {

			.surface {
				--surface-gradients-decl: linear-gradient(hsl(0 0% 100% / 35%), hsl(0 0% 0% / 2%));
				--surface-shadow-decl: inset 0 1px hsl(0 0% 100% / 50%), 0 1px 1px hsl(0 0% 0% / 8%);
			}

			&:is(.activated, .activatedLocked) .surface {
				--surface-shadow-decl: inset 0 1px hsl(0 0% 100% / 7%), 0 1px 1px transparent;
			}

		}
	}
}