//
// Dark
//

.opti[data-theme=gradated]
	--tag-bg: #373737
	--tag-shadows: 0 1px 0 rgba(255, 255, 255, .1), inset 0 1px 0 rgba(0, 0, 0, .3)

	&:not([disabled=disabled])

		.surface
			--surface-gradients-decl: linear-gradient(rgba(255, 255, 255, .07), rgba(0, 0, 0, .13))
			--surface-shadow-decl: inset 0 1px rgba(255, 255, 255, .12), #{$shadowScreenTransp}, 0 1px 1px rgba(0, 0, 0, .25)

		&:is(.activated, .activatedLocked)

			.surface
				--surface-shadow-decl: inset 0 1px rgba(255, 255, 255, .12), #{$shadowScreenDark}, 0 1px 1px transparent

	//
	// Light
	//

	&[data-scheme=light]
		--tag-bg: #E4E4E4
		--tag-shadows: 0 1px 0 rgba(255, 255, 255, .8), inset 0 1px 0 rgba(0, 0, 0, .15)

		&:not([disabled=disabled])

			.surface
				--surface-gradients-decl: linear-gradient(rgba(255, 255, 255, .15), rgba(0, 0, 0, .05))
				--surface-shadow-decl: inset 0 1px rgba(255, 255, 255, .5), #{$shadowScreenTransp}, 0 1px 1px rgba(0, 0, 0, .15)

			&:is(.activated, .activatedLocked) .surface
				--surface-shadow-decl: inset 0 1px rgba(255, 255, 255, .5), #{$shadowScreenLight}, 0 1px 1px transparent