@use '../abstracts' as *
	
//
// Dark
//

.opti[data-theme=minimal]
	--surface-bg: transparent
	--tag-horzpad: 0
	--tag-bg: transparent

	&:not([disabled=disabled])
		--surface-leftmar: #{round($leftPad*1.2)}
		--surface-rightmar: #{round($rightPad*1.2)}
	
		.surface
			--surface-leftpad: 0
			--surface-rightpad: 0

			&:hover,
			&:focus
				--surface-leftmar: 0
				--surface-rightmar: 0
				--surface-leftpad: #{round($leftPad*1.2)}
				--surface-rightpad: #{round($rightPad*1.2)}

		.text-ul
			gap: 10px

		&:is(.activated, .activatedLocked)

			.surface
				--surface-leftmar: 0
				--surface-rightmar: 0
				--surface-leftpad: #{round($leftPad*1.2)}
				--surface-rightpad: #{round($rightPad*1.2)}

			&[multiple=multiple]

				.surface

					&:hover,
					&:focus
						--surface-leftpad: #{$leftPad*1.2}
						--surface-rightpad: #{$rightPad*1.2}

		&[multiple=multiple]
			--surface-leftpad: 0
			--surface-rightpad: 0

	.surface .texts ul .tag:hover,
	&.highlightRemovables .surface .texts ul .tag
		background-color: inherit