@use '../abstracts' as *;

.opti[data-theme=minimal] {
	--tag-pad-x: 0;
	--tag-bg: transparent !important;
	--surface-pad-x: var(--pad-base);

	&:not([disabled=disabled]) {
		// --root-mar-x: 0px;

		&:has(.surface:is(:hover, :focus)),
		&:is(.activated, .activatedLocked) {
			--root-mar-x: calc(var(--pad-base) * -1);
			--surface-pad-x: calc(var(--pad-base) * 2);
		}

		.surface-text-multi {
			gap: 10px;
		}

	}
}