//
// Dark
//

.opti[data-theme=minimal]

	&:not([disabled=disabled])
	
		.surface

			&:hover,
			&:focus
				--surface-bg: var(--accent-bg)

		&:is(.activated, .activatedLocked)

			&[multiple=multiple]

				.surface

					&:hover,
					&:focus
						--surface-leftpad: #{$leftPad*1.2}
						--surface-rightpad: #{$rightPad*1.2}