@use '../abstracts' as *;

.opti[data-theme=outline]:not([disabled=disabled], .activated, .activatedLocked) {

	//
	// Dark & Light
	//

	.surface {
		outline-width: 2px;
		outline-style: solid;

		&:hover,
		&:focus {
			outline-color: var(--accent);
		}

	}

	//
	// Dark
	//

	&[data-scheme=dark] .surface {
		outline: 2px solid hsl(0 0% 100% / 15%);
	}

	//
	// Light
	//

	&[data-scheme=light] .surface {
		outline-color: hsl(0 0% 0% / 10%);
	}

}