@import 'helpers/helpers'

*:not(.opti *)
	box-sizing: border-box

body,
input,
textarea
	font: 200 14px/1.35 "Open Sans", sans-serif
	color: #444

body
	margin: 0
	padding: 0
	background-color:$accent-light
	background-image: radial-gradient(circle at 100% 150%, $accent-light 24%, white 24%, white 28%, $accent-light 28%, $accent-light 36%, white 36%, white 40%, transparent 40%, transparent), radial-gradient(circle at 0    150%, $accent-light 24%, white 24%, white 28%, $accent-light 28%, $accent-light 36%, white 36%, white 40%, transparent 40%, transparent), radial-gradient(circle at 50%  100%, white 10%, $accent-light 10%, $accent-light 23%, white 23%, white 30%, $accent-light 30%, $accent-light 43%, white 43%, white 50%, $accent-light 50%, $accent-light 63%, white 63%, white 71%, transparent 71%, transparent), radial-gradient(circle at 100% 50%, white 5%, $accent-light 5%, $accent-light 15%, white 15%, white 20%, $accent-light 20%, $accent-light 29%, white 29%, white 34%, $accent-light 34%, $accent-light 44%, white 44%, white 49%, transparent 49%, transparent), radial-gradient(circle at 0    50%, white 5%, $accent-light 5%, $accent-light 15%, white 15%, white 20%, $accent-light 20%, $accent-light 29%, white 29%, white 34%, $accent-light 34%, $accent-light 44%, white 44%, white 49%, transparent 49%, transparent)
	background-size: 100px 50px

p:not(.opti *)
	margin: 15px 0
	line-height: 1.35em

button:not(.opti *)
	appearance: none
	border: 1px solid rgba(black, .2)
	border-radius: 7px
	background-color: white
	margin: 0
	padding: 5px 10px
	color: #888
	font-size: 80%
	text-transform: uppercase
	cursor: pointer
	transition: all $dur linear
	min-height: $mh

	&:hover,
	&:focus,
	&.on
		outline: none
		background-color: #ECF3F8
		border-color: rgba(#48B, .5)
		color: black

code:not(.opti *)
	font-family: "Courier New",monospace
	font-size: 110%

h1:not(.opti *)
	font-weight: 400
	margin: 0
	font-size: 30px
	line-height: 28px
	text-align: center
	text-transform: uppercase
	color: black

	svg:not(.opti *)
		stroke: black
		stroke-width: 1.2px

	span:not(.opti *)
		display: block

main:not(.opti *)
	display: flex
	flex-direction: column
	align-items: left
	justify-content: flex-start
	max-width: 800px
	min-height: 100vh
	margin: 0 auto
	padding: 30px
	@media (max-width 450px)
		padding: 50px 15px
	// box-shadow: 0 0 50px rgba(black, .25)
	background-color: rgba(white, .8)
	outline: 3px solid white

	#scheme-switch-div
		$g: 4px
		$h: 31px
		$w: 65px
		$s: $h - $g * 2
		margin: 0 0 10px 0
		display: flex
		justify-content: flex-end

		input
			position: absolute
			right: 300vw

		#scheme-switch-label
			position: relative
			line-height: 22px
			display: inline-flex
			align-items: center
			
			&:before
				content: ''
				width: $w
				height: $h
				text-align: right
				display: inline-block
				line-height: $h + 2px
				background:
					color: #dc9651
				border-radius: $h * .5
				transition: all .2s linear

			&:after
				content: ''
				height: $s
				width: $s
				border-radius: $s * .5
				background:
					color: rgba(white, .2)
					image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9IiNmZmZmZmYiIHN0cm9rZS13aWR0aD0iMS41IiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIGNsYXNzPSJsdWNpZGUgbHVjaWRlLXN1biI+PGNpcmNsZSBjeD0iMTIiIGN5PSIxMiIgcj0iNCIvPjxwYXRoIGQ9Ik0xMiAydjIiLz48cGF0aCBkPSJNMTIgMjB2MiIvPjxwYXRoIGQ9Im00LjkzIDQuOTMgMS40MSAxLjQxIi8+PHBhdGggZD0ibTE3LjY2IDE3LjY2IDEuNDEgMS40MSIvPjxwYXRoIGQ9Ik0yIDEyaDIiLz48cGF0aCBkPSJNMjAgMTJoMiIvPjxwYXRoIGQ9Im02LjM0IDE3LjY2LTEuNDEgMS40MSIvPjxwYXRoIGQ9Im0xOS4wNyA0LjkzLTEuNDEgMS40MSIvPjwvc3ZnPg==)
					position: center
					repeat: no-repeat
					size: 60%
				position: absolute
				top: $g
				left: $g
				transition: all .1s linear

		input:checked + #scheme-switch-label

			&:before
				content: ''
				direction: ltr
				text-align: left
				text-indent: 8px
				color: white
				text-shadow: 0 0 3px rgba(white,.3)
				background: 
					color: #24526a
				transition: background-color .1s linear

			&:after
				left: $w - $s - $g
				transition: all .1s ease-out
				background:
					color: rgba(white, .3)
					image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9IiNmZmZmZmYiIHN0cm9rZS13aWR0aD0iMS41IiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIGNsYXNzPSJsdWNpZGUgbHVjaWRlLW1vb24iPjxwYXRoIGQ9Ik0xMiAzYTYgNiAwIDAgMCA5IDkgOSA5IDAgMSAxLTktOVoiLz48L3N2Zz4=)


	header:not(.opti *)
		display: flex
		gap: 20px
		flex-wrap: wrap
		
		#header-wrap
			flex-basis: 300px
			display: flex
			flex-direction: column
			justify-content: space-between
			padding: 30px 20px
			border-radius: 15px
			text-align: center
			background-color: #EAEAEA
			background-image: linear-gradient(transparent, rgba(black, .05))
			box-shadow: 0 0 15px rgba(black, .08)
			transition: all $dur linear

			#demo-opti
				margin: 20px auto 10px auto
				min-width: 200px
				max-width: min(500px, 100%)

			#themeNscheme
				display: flex
				flex-direction: column
				align-items: flex-end
				gap: 10px
				font-size: 12px
				color: #999

				> div
					display: flex

					label
						display: flex
						align-items: center
						gap: 10px

					.opti
						// width: 100px

						.surface
							font-size: inherit

		&.opti-scheme-dark
			
			#header-wrap
				background-color: #222
				background-image: linear-gradient(rgba(white, .1), transparent)
				color: white

				h1:not(.opti *)
					color: white

					svg:not(.opti *)
						stroke: white

	h3
		margin: 0
		font-weight: 600

	#control-wrap
		flex-basis: min-content
		flex-basis: 300px
		flex-grow: 1

		> *
			position: relative
			padding: 20px
			background-color: #F0F0F0
			background-image: linear-gradient(transparent, rgba(black, .03))
			border-radius: 15px

			> section:not(.opti *)
				margin: 20px 0 0 0

			+ *
				margin: 15px 0 0 0

		.flexit
			display: flex
			align-items: center
			gap: 5px
			margin: 5px 0

		h5
			margin: 5px 0
			font-weight: 500
			font-size: inherit

		.opti:not(#demo-opti)
			display: inline-flex

	#activatedlocked
		position: absolute
		top: 5px
		right: 5px
		border-top-right-radius: 12px