@import 'helpers/helpers'

*:not(.opti *)
	box-sizing: border-box

body,
input,
textarea
	font: 200 14px/1.35 "Open Sans", sans-serif
	color: #444

.flexit
	display: flex
	align-items: center
	gap: 5px
	margin: 5px 0

body
	--body-bg-col-greyscale: white
	--body-bg-col-color: #{$accent-reallylight}
	margin: 0
	padding: 0
	background-color: var(--body-bg-col-color)
	background-image: radial-gradient(circle at 100% 150%, var(--body-bg-col-color) 24%, var(--body-bg-col-greyscale) 24%, var(--body-bg-col-greyscale) 28%, var(--body-bg-col-color) 28%, var(--body-bg-col-color) 36%, var(--body-bg-col-greyscale) 36%, var(--body-bg-col-greyscale) 40%, transparent 40%, transparent), radial-gradient(circle at 0    150%, var(--body-bg-col-color) 24%, var(--body-bg-col-greyscale) 24%, var(--body-bg-col-greyscale) 28%, var(--body-bg-col-color) 28%, var(--body-bg-col-color) 36%, var(--body-bg-col-greyscale) 36%, var(--body-bg-col-greyscale) 40%, transparent 40%, transparent), radial-gradient(circle at 50%  100%, var(--body-bg-col-greyscale) 10%, var(--body-bg-col-color) 10%, var(--body-bg-col-color) 23%, var(--body-bg-col-greyscale) 23%, var(--body-bg-col-greyscale) 30%, var(--body-bg-col-color) 30%, var(--body-bg-col-color) 43%, var(--body-bg-col-greyscale) 43%, var(--body-bg-col-greyscale) 50%, var(--body-bg-col-color) 50%, var(--body-bg-col-color) 63%, var(--body-bg-col-greyscale) 63%, var(--body-bg-col-greyscale) 71%, transparent 71%, transparent), radial-gradient(circle at 100% 50%, var(--body-bg-col-greyscale) 5%, var(--body-bg-col-color) 5%, var(--body-bg-col-color) 15%, var(--body-bg-col-greyscale) 15%, var(--body-bg-col-greyscale) 20%, var(--body-bg-col-color) 20%, var(--body-bg-col-color) 29%, var(--body-bg-col-greyscale) 29%, var(--body-bg-col-greyscale) 34%, var(--body-bg-col-color) 34%, var(--body-bg-col-color) 44%, var(--body-bg-col-greyscale) 44%, var(--body-bg-col-greyscale) 49%, transparent 49%, transparent), radial-gradient(circle at 0    50%, var(--body-bg-col-greyscale) 5%, var(--body-bg-col-color) 5%, var(--body-bg-col-color) 15%, var(--body-bg-col-greyscale) 15%, var(--body-bg-col-greyscale) 20%, var(--body-bg-col-color) 20%, var(--body-bg-col-color) 29%, var(--body-bg-col-greyscale) 29%, var(--body-bg-col-greyscale) 34%, var(--body-bg-col-color) 34%, var(--body-bg-col-color) 44%, var(--body-bg-col-greyscale) 44%, var(--body-bg-col-greyscale) 49%, transparent 49%, transparent)
	background-size: 100px 50px

p:not(.opti *)
	margin: 10px 0
	line-height: 1.35em

	&.bigtext
		font-size: 120%

.example
	margin: 10px 0
	padding: 10px 10px 0 10px
	background: rgba(orange, 7%)
	outline: 1px solid rgba(orange, 20%)

	&:before
		content: "Example"
		font-size: 80%
		text-transform: uppercase
		font-weight: 600
		color: rgba(#997533, 50%)

code.codeblock
	margin: 10px 0
	padding: 10px
	display: block
	background: rgba(black, 7%)
	outline: 1px solid rgba(black, .15)

dt
	margin-top: 10px
	margin-bottom: 5px

button:not(.opti *)
	appearance: none
	border: 1px solid rgba(black, .2)
	border-radius: 7px
	background-color: white
	margin: 0
	padding: 5px 10px
	color: #888
	font-size: 80%
	text-transform: uppercase
	cursor: pointer
	transition: all $dur linear
	min-height: $mh

	&:hover,
	&:focus,
	&.on
		outline: none
		background-color: #ECF3F8
		border-color: rgba(#48B, .5)
		color: black

code:not(.opti *)
	font-family: "Courier New",monospace
	font-size: 110%

h1:not(.opti *)
	display: flex
	justify-content: center
	align-items: center
	font-weight: 400
	margin: 0
	padding: 0 20px 0 0
	width: 150px
	height: 150px
	font-family: "Noto Sans", sans-serif
	font-size: 30px
	line-height: 28px
	text-align: center
	text-transform: lowercase
	color: black
	// background-image: radial-gradient(closest-side ellipse at center, rgba(white, 1), transparent)

	svg:not(.opti *)
		align-self: firstbaseline
		height: 20px
		margin: 0 -8px -5px 0
		stroke: black
		stroke-width: 1.1px

main:not(.opti *)
	display: flex
	flex-direction: column
	align-items: left
	justify-content: flex-start
	max-width: 800px
	min-height: 100vh
	margin: 0 auto
	padding: 10px 30px 30px 30px
	@media (max-width: 450px)
		padding: 50px 15px
	background-color: rgba(#EEE, .7)
	outline: 3px solid white

	#top-controls
		margin-bottom: 15px
		justify-content: space-between
		align-items: center

		#scheme-switch-div
			$g: 7px
			$h: 31px
			$w: 55px
			$s: $h - $g * 2
			display: flex
			justify-content: flex-end

			input
				position: absolute
				right: 300vw

			#scheme-switch-label
				position: relative
				line-height: 22px
				display: inline-flex
				align-items: center
				
				&:before
					content: ''
					width: $w
					height: $h
					text-align: right
					display: inline-block
					line-height: $h + 2px
					background:
						color: #dc9651
					border-radius: $h * .5
					transition: all .2s linear

				&:after
					content: ''
					height: $s
					width: $s
					border-radius: $s * .5
					background:
						image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9IiNmZmZmZmYiIHN0cm9rZS13aWR0aD0iMS41IiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIGNsYXNzPSJsdWNpZGUgbHVjaWRlLXN1biI+PGNpcmNsZSBjeD0iMTIiIGN5PSIxMiIgcj0iNCIvPjxwYXRoIGQ9Ik0xMiAydjIiLz48cGF0aCBkPSJNMTIgMjB2MiIvPjxwYXRoIGQ9Im00LjkzIDQuOTMgMS40MSAxLjQxIi8+PHBhdGggZD0ibTE3LjY2IDE3LjY2IDEuNDEgMS40MSIvPjxwYXRoIGQ9Ik0yIDEyaDIiLz48cGF0aCBkPSJNMjAgMTJoMiIvPjxwYXRoIGQ9Im02LjM0IDE3LjY2LTEuNDEgMS40MSIvPjxwYXRoIGQ9Im0xOS4wNyA0LjkzLTEuNDEgMS40MSIvPjwvc3ZnPg==)
						position: center
						repeat: no-repeat
					position: absolute
					top: $g
					left: $g
					transition: all .1s linear

			input:checked + #scheme-switch-label

				&:before
					content: ''
					direction: ltr
					text-align: left
					text-indent: 8px
					color: white
					text-shadow: 0 0 3px rgba(white,.3)
					background: 
						color: #24526a
					transition: background-color .1s linear

				&:after
					left: $w - $s - $g
					transition: all .1s ease-out
					background:
						image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9IiNmZmZmZmYiIHN0cm9rZS13aWR0aD0iMS41IiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIGNsYXNzPSJsdWNpZGUgbHVjaWRlLW1vb24iPjxwYXRoIGQ9Ik0xMiAzYTYgNiAwIDAgMCA5IDkgOSA5IDAgMSAxLTktOVoiLz48L3N2Zz4=)
						size: 80%


	header:not(.opti *)
		display: flex
		gap: 30px
		flex-wrap: wrap
		margin-bottom: 40px

		section:not(.opti *)
			padding: 30px 20px
			border-radius: 15px
		
		#header-wrap
			flex-basis: 300px
			display: flex
			flex-direction: column
			justify-content: space-between
			align-items: center
			text-align: center
			transition: all $dur linear
			background-color: rgba(white, 10%)
			background-image: radial-gradient(500px circle at left -150px, rgba(yellow, .3), transparent), radial-gradient(400px circle at bottom right, transparent 10%, rgba(green, .15) 70%, transparent), radial-gradient(400px circle at left 150px, transparent 10%, rgba(blue, .2) 70%, transparent), radial-gradient(400px circle at top right, transparent 10%, rgba(red, .25) 70%, transparent), radial-gradient(400px circle at right center, transparent 10%, rgba(turquoise, .15) 70%, transparent)
			background-blend-mode: overlay

			#demo-opti
				margin: 10px auto
				min-width: 200px
				max-width: min(500px, 100%)

			#themeNscheme
				display: flex
				flex-direction: column
				align-items: flex-end
				justify-content: flex-end
				gap: 10px
				height: 150px
				width: 150px
				font-size: 12px
				color: #999

				> div
					display: flex

					label
						display: flex
						align-items: center
						gap: 10px

					.opti
						// width: 100px

						.surface
							font-size: inherit

	h3
		margin: 15px 0
		font-weight: 600

	#control-wrap
		display: flex
		flex-direction: column
		flex: 1 1 300px
		gap: 20px

		.faintbox
			padding: 8px
			border-radius: 10px
			background-color: rgba(black, 4%)

			> span
				margin: 0 5px

			* + button
				margin-left: 10px

		> div
			margin: 20px 0

			> * + div
				margin: 25px 0 0 0

		h5
			margin: 10px 0
			font-weight: 500
			font-size: inherit

		.opti:not(#demo-opti)
			display: inline-flex




body.opti-scheme-dark
	--body-bg-col-greyscale: black
	--body-bg-col-color: #{$accent-reallydark}
	color: #DDD


	code.codeblock
		background-color: rgba(white, 7%)
		outline-color: rgba(white, .15)

	button:not(.opti *)
		outline: 1px solid rgba(white, .2)
		border: none
		background-color: #111
		color: #888
		font-size: 80%
		text-transform: uppercase
		cursor: pointer
		transition: all $dur linear
		min-height: $mh

		&.on
			outline-color: rgba(white, .7)
			background-color: #111
			color: white

		&:hover,
		&:focus
			outline-color: $accent
			background-color: $accent-bg-dark
			color: white

	main
		background-color: rgba(black, .8)
		outline-color: black

		> header:not(.opti *)

			section:not(.opti *)
				box-shadow: 0 0 5px rgba(black, .65)
			
			#header-wrap
				background-color: rgba(#222, 60%)
				background-image: radial-gradient(500px circle at left -150px, rgba(yellow, .2), transparent), radial-gradient(400px circle at bottom right, transparent 10%, rgba(green, .15) 70%, transparent), radial-gradient(400px circle at left 150px, transparent 10%, rgba(blue, .2) 70%, transparent), radial-gradient(400px circle at top right, transparent 10%, rgba(red, .25) 70%, transparent), radial-gradient(400px circle at right center, transparent 10%, rgba(turquoise, .15) 70%, transparent)
				background-blend-mode: overlay

				h1:not(.opti *)
					color: white
					// background-image: radial-gradient(closest-side ellipse at center, rgba(black, .5), transparent)

					svg:not(.opti *)
						stroke: white

		#control-wrap

			.faintbox
				background-color: rgba(white, 7%)