@use '../abstracts' as *

.opti-hidden
	display: none !important

.opti,
.opti *,
.opti *:before,
.opti *:after
	box-sizing: border-box

.opti
	display: block

	.surface >

		.icon-chevs,
		.icon-ban,
		.icon-ex-surf
			width: 0
			opacity: 0
			margin: 0

	&:not([disabled=disabled]) .icon-chevs,
	&[disabled=disabled] .icon-ban,
	&:not(.zerostate, [disabled=disabled]) .icon-ex-surf
		opacity: 1

	&:not([disabled=disabled]) .icon-chevs
		width: 16px * $oscale

	&[disabled=disabled] .icon-ban
		width: 13px * $oscale

	&:not(.zerostate, [disabled=disabled]) .icon-ex-surf
		width: 18px * $oscale

	.icon-ex
		display: none

	&:not([disabled=disabled])
		
		.icon-ex
			display: inline-flex

		.icon-chevs
			display: block

	&.zerostate .text-op,
	&[multiple=multiple] .text-op
		@extend %textOffState
		flex: 0 1 0
		width: 0

		.text-grp
			display: none

	.text-ul
		margin: 0
		padding: 0
		height: 0
	
	&[multiple=multiple] .text-ul:not(:empty)
		min-height: $tagLeading
		height: auto

	.tag.initial,
	.tag.fadingOut,
	&:not([multiple=multiple]) .tag
		opacity: 0 !important
		height: 0
		width: 0 !important
		max-width: 0
		flex-basis: 0 !important
		margin: 0
		padding: 0 !important

	.dropdown
		left: -200vw

	&:is(.activated, .activatedLocked) .dropdown
		left: 0

	.search-input:focus
		display: block !important

	.list h5:only-child
		display: none

	.list span svg
		display: none

	$size: 16px

	.list .icon-arrow,
	.list .icon-tick
		display: inline-flex
		width: 0
		height: 0
		margin-left: 0

	.list span.fakefocus .icon-arrow,
	.list span.selected .icon-tick
		width: $size
		height: $size

	.list span.fakefocus .icon-arrow
		margin-left: -10px

	.list span[disabled=disabled] .icon-ban
		display: inline-flex